<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Code Challenge</title>
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--CSS ANIMATE-->    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <!--TAILWIND-->
   <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <!--FONTAWESOME-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body class="bg-light">

<div class="container bg-white">
        <nav class="navbar navbar-expand-lg navbar-light bg-white mt-4">
          <a class="navbar-brand" href="#"><img src="../aerolab-logo.svg" alt=""></a>
                      
                <%if(user){%>
                  <span class="navbar-text my-2 ">

                   <%=user%>                        
                  </span>  

                  <span class=" bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker">
                    <%=coins%><img src="../coin.svg" alt="">
                  </span>
                  <form class="inline-form" action="/" method="POST"> <input style="display: none" type="name" name="name"> <button class="btn" type="submit" ><span  style="color:red" class="fas fa-sign-out-alt"></span></button></form>
                  <%}else{%>

                    <form class="form-inline my-2 my-lg-0 " action="/" method="POST">
                        <input class="form-control mr-sm-2" type="name" name="username" placeholder="Username" aria-label="Name">
                        <input class="form-control w-25 mr-sm-2" type="number" name="coins" placeholder="Coins" >
                        <button class="btn btn-outline-info my-2 my-sm-0"  type="submit">
                              Login </button>
                      </form>
                    <%}%>
              </nav>
    <div class="row ">
      <div style="position:relative">
        
      <img src="../header-x2.png" alt="">
      <div class="" style=" width: 25%; height: 40%; position:absolute; bottom:-8%; left:10%;">
        <h1 class=" text-white electronics" >Electronics</h1> </div>
    </div>
      <div class="px-6 py-4 ml-8">
        <span  class="  inline-block px-3 py-1 text-lg font-semibold text-grey-darker mr-2">32 of 32</span>
        <span  class=" inline-block  px-3 py-1 text-md font-semibold text-grey-darker mr-2">Sort by</span>
       <button id="recent" onclick="recent()" class="btn hover:bg-blue hover:text-white inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker">Most Recent</button>
        <button onclick="lower()" class="btn hover:bg-blue hover:text-white inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">Lower Price</button>
        <button onclick="high()" class="btn hover:bg-blue hover:text-white inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">Highest price</button>
        
      </div>
    <div id="cards" class="row ml-4">
<%i=0%>
    <% prod.forEach(prod => { %>
        <div   class="flex flex-wrap -m-2 " >
          <div id="app[<%=i%>]" style="position: relative" class="w-full h-full p-4 app"  >
              <div class="shadow h-full "  >
              <div  style="position:relative; width:200px;">
                <img  src="<%= prod.img.url %>" alt="">  
                
                <% if(  coins != '' ) {%>
               <% if( prod.cost <= coins ) {%> 
                <div id="marca" style=" text-align: center ;background-image:radial-gradient(50% 130%, #0ad4fa 51%, #25bbf1 100%);; border-radius:100% ; position:absolute; top:0%; right:0%;">
                   <img src="../buy-blue.svg" alt=""></div>
              
            <%}else{%>
              <div style=" width: 62px ; height: 32px ; text-align: center ;opacity:0.8;
              background:#616161;
              border-radius:100px;
              width:108px;
              height:32px; position:absolute; top:0%; right:0%;">
              <p style="font-size:11px; color:white; " class="pt-1">You need <%=prod.cost - coins%>  <img style="width:26px;
                height:26px; text-align:right" src="../coin.svg" alt=""></p>
              
              </div>
              <%}%>
            <%}else{%>
              
              <div style=" width: 62px ; height: 32px ; text-align: center ;opacity:0.8;
              background:#616161;
              border-radius:100px;
              width:108px;
              height:32px; position:absolute; top:0%; right:0%;">
              <p style="font-size:11px; color:white; " class="pt-1">You need <%=prod.cost%>  <img style="width:26px;
                height:26px; text-align:right" src="../coin.svg" alt=""></p>
              
              </div>
              <%}%>
          </div>
                <p class="text-grey text-base pl-4"><%=prod.category%></p>
                  <p class="text-grey-darker text-xl mb-2" style="text-align: center" ><%=prod.name%> </br>
                  <%if(user && coins>=prod.cost){%>
                    <p style="text-align:center"><strong><%=prod.cost%></strong><img style="width:26px;
                      height:26px; text-align:right" src="../coin.svg" alt=""></p>
                  <form style="text-align:center" action="/" method="POST"> <input style="display:none" type="name" name="username"value="<%=user%>" >
                    <input style="display:none" type="number" name="coins" value="<%=coins - prod.cost%>" >
                      <button type="submit" 
                        class="btn hover:bg-grey  static inline-block bg-grey-lighter rounded-full px-3 py-0 text-md font-semibold text-grey-darker">
                              Reedem Now
                      </button>
                  </form>
                    <%}%>
                  </p>
              </div>
            </div>
          </div>
          <%i++%>
        <% }); %>
    </div>
  
    </div>
</div>
<%include function%>

<style>
@media only screen and (min-width: 768px){
  .electronics {
    font-size:400%
    }
  }
</style>
</body>
</html>



